@page "/"

<PageTitle>Home</PageTitle>

<h1 class="text-center">OpenAI GPT-3 using OpenAIDotNet (c# SDK)</h1>

<RadzenLink Target="_blank" Path="https://beta.openai.com/" Text="Learn more about OpenAI GPT-3 API"></RadzenLink>
