@page "/chat"
@using Microsoft.AspNetCore.Mvc.ViewFeatures
<RadzenRow>
    <RadzenColumn Size="2"></RadzenColumn>
    <RadzenColumn Size="8">
        <RadzenText TextStyle="TextStyle.Subtitle2" Text="Give me a personality or other instructions"></RadzenText>
        <RadzenTextArea Value="@_personality" ValueChanged="ChangePersona" Style="width:100%; height:4rem" Placeholder="You are sassy and confident bartender desperate for extended conversation"></RadzenTextArea>
    </RadzenColumn>
    <RadzenColumn Size="2"></RadzenColumn>
</RadzenRow>
<RadzenRow Style="font: 15px arial, sans-serif;background-color: white;border-style: solid;border-width: 1px;padding-top: 20px;padding-bottom: 25px;padding-right: 25px;padding-left: 25px;box-shadow: 5px 5px 5px grey;border-radius: 15px;">
    <RadzenColumn Size="2">
        <RadzenButton Text="Reset" Size="ButtonSize.ExtraSmall" Click="Reset"></RadzenButton>
    </RadzenColumn>
    <RadzenColumn Size="8" id="chatborder">
        
        <RadzenCard class="rz-shadow-6">
            <div id="chatlist" class="chatlist">
                @foreach (var item in Messages.Where(x => x.Role != "system"))
                {
                    @*<RadzenCard class="@($"chatlog {item.Role}")">*@
                        <RadzenTextArea class="@($"chatlog {item.Role}")" Style="width:100%; height: 6rem;" @bind-Value="@item.Content"></RadzenTextArea>
                   @* </RadzenCard>*@
                }
            </div>
            @if (_isBusy)
            {
                <Waiting></Waiting>
            }
            <RadzenTemplateForm Data="_chatForm" TItem=ChatForm Submit="Submit">
                <RadzenRequiredValidator Component="Input" Text="Chat input required" Popup=false Style="position: inherit"></RadzenRequiredValidator>
                <RadzenTextBox Name="Input" @bind-Value=_chatForm.Input Placeholder="Type here to talk to me." Style="font: 17px arial, sans-serif; height: 28px; width: 100%;"></RadzenTextBox>
                <RadzenButton ButtonType="ButtonType.Submit" Text="Send"></RadzenButton> <RadzenCheckBox @bind-Value="_chatForm.RequestStream"></RadzenCheckBox>Response as stream
            </RadzenTemplateForm>
        </RadzenCard>
    </RadzenColumn>
    <RadzenColumn Size="2"></RadzenColumn>
</RadzenRow>