@page "/convo"
@using OpenAIDotNet.Models.Requests

<RadzenRow>
    <RadzenTemplateForm Data="_completionRequestForm" TItem="CompletionRequestForm" Submit="HandleSubmit">
        <RadzenRow Style="width:75vw">
            <RadzenColumn Size="8">
                <RadzenTextArea Style="width:100%; height:40vh" @bind-Value="_completionRequestForm.Prompt" Placeholder="Add your prompt text here"></RadzenTextArea>
                <div>
                    <RadzenButton Text="Submit" BusyText="Waiting..." IsBusy="_isBusy" ButtonType="ButtonType.Submit"></RadzenButton>
                </div>
            </RadzenColumn>
            <RadzenColumn Size="4">
                <div>
                    <RadzenLabel Text="Model"></RadzenLabel><br />
                    <RadzenDropDown Data="_modelOptions" TextProperty="Key" ValueProperty="Value" @bind-Value="_completionRequestForm.Model"></RadzenDropDown>
                </div>
                <div>
                    <RadzenLabel Component="Tempurature" Text="Tempurature"></RadzenLabel><br />
                    <RadzenNumeric Name="Tempurature" @bind-Value="_completionRequestForm.Temperature" Step=".1" Min="0" Max="1"></RadzenNumeric>
                    <RadzenNumericRangeValidator Min="0" Max="1" Component="Tempurature" Popup="true"></RadzenNumericRangeValidator>
                </div>
                <div>
                    <RadzenLabel Component="PresencePenalty" Text="PresencePenalty"></RadzenLabel><br />
                    <RadzenNumeric Name="PresencePenalty" @bind-Value="_completionRequestForm.PresencePenalty" Step=".1" Min="-2" Max="2"></RadzenNumeric>
                    <RadzenNumericRangeValidator Min="-2" Max="2" Component="PresencePenalty" Popup="true"></RadzenNumericRangeValidator>
                </div>
                <div>
                    <RadzenLabel Component="FrequencyPenalty" Text="FrequencyPenalty"></RadzenLabel><br />
                    <RadzenNumeric Name="FrequencyPenalty" @bind-Value="_completionRequestForm.FrequencyPenalty" Step=".1" Min="-2" Max="2"></RadzenNumeric>
                    <RadzenNumericRangeValidator Min="-2" Max="2" Component="FrequencyPenalty" Popup="true"></RadzenNumericRangeValidator>
                </div>
               @* <div>
                    <RadzenLabel Text="Number"></RadzenLabel><br />
                    <RadzenNumeric @bind-Value="_completionRequestForm.Number" Step="1" Min="1" Max="5"></RadzenNumeric>
                </div>
                <div>
                    <RadzenLabel Component="BestOf" Text="Best of"></RadzenLabel><br />
                    <RadzenNumeric Name="BestOf" @bind-Value="_completionRequestForm.BestOf" Step="1" Min="1"></RadzenNumeric><br />
                    <RadzenCompareValidator Component="BestOf" Value="_completionRequestForm.Number" Operator="CompareOperator.GreaterThan" Text="Best of has to be greater than Number" Popup="false"></RadzenCompareValidator>
                </div>*@
                <div>
                    <RadzenLabel Text="Comma Seperated Stops"></RadzenLabel><br />
                    <RadzenTextBox @bind-Value="_completionRequestForm.StopInput"></RadzenTextBox>
                </div>
            </RadzenColumn>
        </RadzenRow>
    </RadzenTemplateForm>
</RadzenRow>
<RadzenRow>
    <div>
        <h3 class="text-center">Response Data</h3>
        @if (_completionResponse != null)
        {
            @foreach (var choice in _completionResponse.Choices)
            {
                <RadzenCard>
                    <div>Index: @choice.Index</div>
                    <div>Text: @choice.Text</div>
                    <div>Finish Reason: @choice.FinishReason</div>
                </RadzenCard>
            }
        }
    </div>
</RadzenRow>
@code {

}
